---
import Layout from "../components/layout.astro"
import Highlight from "../components/highlight.tsx"
---

<Layout title="Home">
<p>Hi, I'm Togi, a web developer and designer. I'm passionate about creating beautiful and functional <Highlight color="blue">websites</Highlight>. I'm currently working on a new project, so stay tuned!</p>
</Layout>
