---
const platform = "github";
const username = "toine08";
---

<footer class="flex justify-center items-center py-4  dark: text-white">
    <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`} class="text-blue-400 hover:underline">{platform}</a>!</p>
  </footer>