---
import Menu from './menu.astro';
const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <!-- Add this line to include Tailwind -->
    <link rel="stylesheet" href="../styles/global.css">
  </head>
  <body class="bg-white text-black dark:text-white dark:bg-slate-950">
    <Menu />
    <main class="container mx-auto px-4 bg-white text-black dark:text-white dark:bg-slate-950">
        <slot /> <!-- your content is injected here -->
    </main>
  </body>
</html>