---
import Menu from './menu.astro';
const { title } = Astro.props;

theme.getTheme()

---
<html lang="en">
  <head>
    <script defer data-domain="togido.xyz" src="https://plausible.io/js/script.js"></script>
    <script is:inline>
      const theme = (() => {
        if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();
    
      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
      window.localStorage.setItem("theme", theme);
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <!-- Add this line to include Tailwind -->
    <link rel="stylesheet" href="../styles/global.css">
  </head>
  <body class="bg-white text-black dark:text-white dark:bg-slate-950">
    <Menu />
    <main class="container mx-auto px-4 bg-white text-black dark:text-white dark:bg-slate-950">
        <slot /> <!-- your content is injected here -->
    </main>
  </body>
</html>