---
import ThemeToggle from './ThemeToggle.astro';
import Menu from './menu.astro';
const { title } = Astro.props;
import Footer from './Footer.astro';


---
<html lang="en">
  <head>
    <script defer data-domain="togido.xyz" src="https://plausible.io/js/script.js"></script>
    <script is:inline>
      const theme = (() => {
        if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();
    
      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
      window.localStorage.setItem("theme", theme);
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>togido - {title}</title>
    <!-- Add this line to include Tailwind -->
    <link rel="stylesheet" href="../styles/global.css">
  </head>
  <body class="flex flex-col min-h-screen bg-gradient-to-bl from-blue-400 to-slate-100 dark:from-blue-800 dark:to-slate-900 text-black dark:text-white">
    <Menu />
    <main class="container mx-auto px-4 flex-grow my-8 bg-white/50 dark:bg-slate-800/50 rounded-lg shadow-lg backdrop-blur-sm">
      <slot /> <!-- your content is injected here -->
    </main>
    
    <Footer />
  </body>
</html>