---
import ThemeToggle from "./ThemeToggle.astro";

const currentPath = Astro.url.pathname;

const menuItems = [
  { href: "/", label: "Home" },
  { href: "/blog", label: "Articles" },
  { href: "/about/", label: "About" },
];
---

<nav class="w-full flex justify-center m-1">
  <ul class="w-full max-w-md flex justify-between align-middle bg-indigo-50 dark:bg-indigo-600 rounded-md p-2 space-x-2">
    {menuItems.map(({ href, label }) => (
      <li class="flex-1">
        <a
          href={href}
          class={`block text-center text-lg font-sans font-bold py-2 px-4 rounded-md transition duration-200 ease-in-out
            ${currentPath === href ? 'bg-blue-700 dark:bg-indigo-700 dark:text-white text-blue-50' : 'text-blue-800 dark:text-white hover:text-blue-50 hover:bg-blue-700 dark:hover:bg-indigo-400'}
          `}
          aria-current={currentPath === href ? 'page' : undefined}
        >
          {label} 
        </a>
      </li>
    ))}
    <ThemeToggle/>
  </ul>
</nav>