---
import Menu from './menu.astro';
import Footer from './Footer.astro';
const { title } = Astro.props;
const { frontmatter } = Astro.props;
---

<html lang="en" class="overscroll-none">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{frontmatter.title}</title>
  <link rel="stylesheet" href="../styles/global.css">
</head>
<body class="bg-gradient-to-bl from-blue-400 to-slate-100 text-black dark:text-white dark:from-blue-800 dark:to-slate-900">
  <Menu />
  <div class="flex flex-col items-center justify-center min-h-screen mt-4">
    <h1 class="text-4xl font-bold mt-auto mb-auto">{frontmatter.title}</h1>
    <p class="text-gray-400">by {frontmatter.author}</p>
    <p class="text-gray-500 mt-4 mb-8">Written on: {new Date(frontmatter.date).toLocaleDateString()}</p>
    <div class="max-w-3xl prose prose-lg dark:prose-invert mx-auto px-4 sm:px-6 lg:px-8 py-12 ">
      <slot />
    </div>
  </div>
</body>
<Footer/>
</html>
