---
import ThemeToggle from '../components/ThemeToggle.astro';
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro';
const { title } = Astro.props;
---

<html lang="en" class="overscroll-none">
  <head>
    <link rel="icon" type="image/png" href="../../favicon.ico">
    <script defer data-domain="togido.xyz" src="https://plausible.io/js/script.js"></script>
    <script is:inline>
      const theme = (() => {
        if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();
    
      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
      window.localStorage.setItem("theme", theme);
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <!-- Add this line to include Tailwind -->
    <link rel="stylesheet" href="../styles/global.css">
  </head>

  <body class="bg-gradient-to-bl from-blue-400 to-slate-100 dark:from-blue-800 dark:to-slate-900 text-black dark:text-white">
    <Header/>
    <div class="flex flex-col items-center justify-center min-h-screen">
      <main class="w-full max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-12 prose prose-lg dark:prose-invert">
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>